"""Python client template."""
import datetime
from uuid import UUID
from typing import Any, Literal
from .models import *


transport = RPC{{ transport }}Client("{{ url }}")

{% include "python/client.j2" %}
