# {{ project_title }} {{ "WebSocket" if transport == "WS" else transport }} Client

{{ project_title }} Python {{ "WebSocket" if transport == "WS" else transport }} client.

## Example Usage

```python
import asyncio

from {{ package_name }}.client import {{ client_name }}Client


async def main() -> None:
    # Get an instance of the client.
    client = {{ client_name }}Client(headers={})
{% if transport == "WS" %}
    await client.connect()
{% endif %}
    # Use client for method calls...
{% if transport == "WS" %}
    await client.close()
{% endif %}


if __name__ == "__main__":
    asyncio.run(main())
```

## Build Installable Tarball Locally

```shell
python3 setupy.py sdist --formats=gztar
```
