from setuptools import setup

setup(
    name="{{ project_name }}",
    version="{{ version }}",
    description="{{ project_title }} python {{ transport }} client.",
    packages=["{{ project_dir }}"],
    install_requires=["jsonrpc2-pyclient==4.1.0", "pydantic==2.3.0"],
)
