import {rpcClient, RPC{{ "WebSocket" if transport == "WS" else transport }}Client} from "jsonrpc2-tsclient";

import {{ imports }} from "{{ cs.to_snake(group.title) }}_client.models";

const transport = new RPC{{ "WebSocket" if transport == "WS" else transport }}Client("{{ url }}");

{% include "typescript/client.j2" %}
